@import "tailwindcss";
@reference "./global.css";

:root {
  color-scheme: dark;
  scroll-behavior: smooth;
  scroll-padding-top: 2em;
}

body {
  background-color: var(--color-bs-surface-1);
  color: var(--color-bs-foreground-light);
  font-family: var(--font-body);
}

::selection {
  color: black;
  background-color: var(--color-amber-300);
}