@import "tailwindcss";

/* Containers */
.bs-container {
  inline-size: min(92vw, 90rem);
  margin-inline: auto;
}

/* Top Margins */
.bs-mt-lg {
  margin-top: 4rem;
}

@media (min-width: 1024px) {
  .bs-mt-lg {
    margin-top: 8rem;
  }
}

.bs-mt-md {
  margin-top: 2.5rem;
}

@media (min-width: 1024px) {
  .bs-mt-md {
    margin-top: 4rem;
  }
}

.bs-mt-sm {
  margin-top: 1.5rem;
}

@media (min-width: 1024px) {
  .bs-mt-sm {
    margin-top: 2rem;
  }
}