@import "tailwindcss";
@reference "./global.css";

.bs-h1 {
  font-family: var(--font-display);
  font-weight: 500;
  text-wrap: balance;
  font-size: 6rem;
  line-height: 1;
  rotate: -5deg;
}

@media (min-width: 768px) {
  .bs-h1 {
    font-size: 8rem;
  }
}

.bs-blue {
  animation: blue 1s ease-in-out infinite alternate;
}

.bs-pink {
  animation: pink 2s ease-in-out infinite alternate;
}

.bs-h2 {
  font-family: var(--font-display);
  font-weight: 500;
  text-wrap: balance;
  font-size: 1.875rem;
  line-height: 1.25;
  rotate: -5deg;
}

@media (min-width: 768px) {
  .bs-h2 {
    font-size: 2.25rem;
  }
}

.bs-h3 {
  font-family: var(--font-display);
  font-weight: 500;
  text-wrap: balance;
  font-size: 1.125rem;
  line-height: 1.75;
}

@media (min-width: 768px) {
  .bs-h3 {
    font-size: 1.5rem;
    line-height: 1.25;
  }
}

.bs-body-text {
  line-height: 1.625;
}

/* Flickering animation */
@keyframes flicker {

  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {

    text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #0fa,
      0 0 80px #0fa,
      0 0 90px #0fa,
      0 0 100px #0fa,
      0 0 150px #0fa;

  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

@keyframes blue {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
  }

  to {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0073e6, 0 0 40px #0073e6, 0 0 50px #0073e6, 0 0 60px #0073e6, 0 0 70px #0073e6;
  }
}

@keyframes pink {
  from {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #e600bc, 0 0 20px #e60077, 0 0 25px #e6009d, 0 0 30px #e60096, 0 0 35px #e6008a;
  }

  to {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e600b4, 0 0 40px #e600a1, 0 0 50px #e60092, 0 0 60px #e60086, 0 0 70px #e6009d;
  }
}